{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml}{/ifset}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	{block head}{/block}
</head>

<body>
	<div class=container>
		<div n:foreach="$flashes as $flash" n:class="alert, 'alert-' . $flash->type">{$flash->message}</div>

		{include content}
	</div>
</body>
</html>
